[Unit]
Description=Update OLED Display
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/raspi-status
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/raspi-status/.venv/bin/python /opt/raspi-status/updateoled/updateoled.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
